<html>
    <head>
        <meta charset="UTF-8">
        <title>\(^.^)/</title>
    </head>
    <body>
        <script type="text/javascript">
            var electron = require("electron");
            function sendToken(){
                var textBoxValue= document.form.tokenBox.value;
                if(textBoxValue){
                    console.log(textBoxValue);
                    electron.ipcRenderer.send("accessToken",textBoxValue);
                }
            }
            
        </script>
        <form name="form">
            <input type="text" name="tokenBox">
            <button onclick="sendToken()">Token submit</button>
        </form>
        
    </body>
</html>